In [29]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
# Load data
df = pd.read_csv('wnba_24.csv')

# Problem 1

In [31]:
# Display first few rows
df.head()

,game_date,athlete_id,athlete_display_name,team_name,minutes,points,starter,did_not_play,active,opponent_team_name
0,2024-09-19,2529130,Natasha Howard,Wings,33.0,13.0,True,False,False,Aces
1,2024-09-19,4281929,Satou Sabally,Wings,32.0,25.0,True,False,False,Aces
2,2024-09-19,4399415,Maddy Siegrist,Wings,34.0,12.0,True,False,True,Aces
3,2024-09-19,3916514,Kalani Brown,Wings,27.0,13.0,True,False,True,Aces
4,2024-09-19,4432865,Jacy Sheldon,Wings,27.0,4.0,True,False,False,Aces

In [32]:
# Check dimensions
print("Dimensions:", df.shape)

Dimensions: (5388, 10)

In [33]:
# Check variable types
print("Variable types:")
print(df.dtypes)

Variable types:
game_date                   str
athlete_id                int64
athlete_display_name        str
team_name                   str
minutes                 float64
points                  float64
starter                    bool
did_not_play               bool
active                     bool
opponent_team_name          str
dtype: object

# Problem 2

In [34]:
# 2024 season total points
player_points_totals = df.groupby('athlete_display_name')['points'].sum()
games_played = df.groupby('athlete_display_name').size()

players = ["Caitlin Clark", "Angel Reese", "A'ja Wilson"]
for player in players:
    if player in player_points_totals.index:
        total_points = player_points_totals.loc[player]
        games = games_played.loc[player]
        print(f"{player} scored {total_points} total points in {games} games.")
    else:
        print(f"{player} not found in the dataset.")

Caitlin Clark scored 769.0 total points in 40 games.
Angel Reese scored 462.0 total points in 39 games.
A'ja Wilson scored 1021.0 total points in 39 games.

# Problem 3
Compute the average number of points per game played for Clark, Reese, and
Wilson. Specifically, compute the average number of points per game in which
the player played more than 0 minutes. The variable “minutes” records how
many minutes the player played in that game.

In [28]:
# Problem 3: Average points per game (only games where player played > 0 minutes)
games_with_minutes = df[df['minutes'] > 0]  # Filter games where player actually played
player_avg_points_per_game = games_with_minutes.groupby('athlete_display_name')['points'].mean()

players = ["Caitlin Clark", "Angel Reese", "A'ja Wilson"]
for player in players:
    if player in player_avg_points_per_game.index:
        avg_ppg = player_avg_points_per_game.loc[player]
        print(f"{player} has an average of {avg_ppg:.2f} points per game.")
    else:
        print(f"{player} not found in the dataset.")

Caitlin Clark has an average of 19.23 points per game.
Angel Reese has an average of 13.59 points per game.
A'ja Wilson has an average of 26.87 points per game.

# Problem 4

In [27]:
# find their top two games by number of points scored. Report the numbers of points, dates, and opponents for those two games.
players = ["Caitlin Clark", "Angel Reese", "A'ja Wilson"]
player_top_2_point_games = df.sort_values('points',ascending=False).groupby('athlete_display_name').head(2)
for player in players:
    player_games = player_top_2_point_games[player_top_2_point_games['athlete_display_name'] == player]
    print(f"Top 2 scoring games for {player}:")
    print(player_games[['points', 'game_date', 'opponent_team_name']])

Top 2 scoring games for Caitlin Clark:
      points   game_date opponent_team_name
328     35.0  2024-09-15              Wings
1214    31.0  2024-08-30                Sky
Top 2 scoring games for Angel Reese:
      points   game_date opponent_team_name
2709    27.0  2024-07-05              Storm
3234    25.0  2024-06-23              Fever
Top 2 scoring games for A'ja Wilson:
      points   game_date opponent_team_name
1368    42.0  2024-08-27              Wings
1079    41.0  2024-09-01            Mercury