# Simple demo for the first recitation
## As we deliberately get errors, please run each cell one-by-one

This is a simple expression

In [1]:
1 * 3

3

Mathematical expressions are similar, with a few exceptions.\
E.g., we use ** instead of ^ for exponentiation\
Be careful, ^ is also a valid operator, called XOR, used for bitwise manipulation

In [2]:
3 ** 4

81

Use parantheses for clarity, though the result doesn't change

In [3]:
2 + 2 * 3

8

In [4]:
2 + (2 * 3)

8

You can assign values to variables

In [5]:
x = 5

In [6]:
print(x)

5

Here we are doubling x

In [7]:
x = x * 2

In [8]:
print(x)

10

This will give a NameError since we didn't define y

In [9]:
y

NameError: name 'y' is not defined

It's common to replace spaces with underscores
Instead of nycsalestaxrate we use nyc_sales_tax_rate

In [10]:
nyc_sales_tax_rate = 0.08875

In [11]:
print(nyc_sales_tax_rate)

0.08875

We use comments to make the code readable.\
There are two ways to comment, # and ''' '''\
We use # to comment out a single line, and ''' ''' for block comments

In [12]:
# This is a comment
# x was 10 after doubling
# x = 20
# The above line doesn't do anything since it's commented out

In [13]:
print(x)

10

In [14]:
'''
This is a comment
x was 10 after doubling
x = 20
The above line doesn't do anything since it's commented out
'''

"\nThis is a comment\nx was 10 after doubling\nx = 20\nThe above line doesn't do anything since it's commented out\n"

Here are a few built-in Python functions

In [15]:
# Take the absolute value of -1
abs(-1)

1

In [16]:
# Round 1.6 to the nearest integer
round(2.1)

2

In [17]:
# Find the maximum of numbers
min(4, 6, 10, -1)

-1

Module: A single Python file containing code.\
Package: A directory of related modules.\
Library: A collection of packages and modules offering reusable functionality.\
\
We'll use libraries/packages/modules, but we need to import before calling

In [18]:
math.exp(4)

NameError: name 'math' is not defined

In [19]:
# Python's math module
import math

In [20]:
# e^4
math.exp(4)

54.598150033144236

There are multiple libraries that can be used for a certain calculation/task

In [22]:
# Numpy is a fundamental Python library
# "as" keyword is used for convenience, you can call import numpy too 
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [23]:
numpy.exp(4)

NameError: name 'numpy' is not defined

You can check out https://numpy.org/doc/stable/user/absolute_beginners.html for a numpy tutorial